<footer class="bg-black text-white p-10 mt-10">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center gap-8 text-center md:text-left">
        
        <div class="flex flex-col md:flex-row items-center gap-4 self-center md:self-start">
            <img src="/static/logos/CSLogo.png" alt="Logo CS" class="h-20 w-20 object-contain">
            
            <div class="flex flex-col">
                <span class="text-[#EFED3C] text-xl font-bold tracking-widest" style="font-family: 'Press Start 2P', 'cursive'">CLEANSOUND</span>
                <p data-i18n="footer.tagline" class="text-md text-white font-medium mt-1">Stay Clean & Sound</p>
                <p data-i18n="footer.email" class="text-md text-white font-medium mt-1">cleansoundstudio@gmail.com</p>
            </div>
        </div>

        <div class="w-full md:w-auto flex flex-col items-center md:items-end">
            <h4 data-i18n="footer.social" class="text-xl font-bold mb-4 text-white">Our Social Media</h4>
            
            <div class="flex gap-4">
                <a href="#" class="bg-yellow-300 hover:bg-yellow-400 rounded-full p-2 flex items-center justify-center w-10 h-10 transition duration-300">
                    <img src="/static/icons/instagram.png" alt="Instagram" class="w-full h-full object-contain">
                </a>

                <a href="#" class="bg-yellow-300 hover:bg-yellow-400 rounded-full p-2 flex items-center justify-center w-10 h-10 transition duration-300">
                    <img src="/static/icons/youtube.png" alt="YouTube" class="w-full h-full object-contain">
                </a>

                <a href="#" class="bg-yellow-300 hover:bg-yellow-400 rounded-full p-2 flex items-center justify-center w-10 h-10 transition duration-300">
                    <img src="/static/icons/twitter_alt.png" alt="X Twitter" class="w-full h-full object-contain">
                </a>

                <a href="#" class="bg-yellow-300 hover:bg-yellow-400 rounded-full p-2 flex items-center justify-center w-10 h-10 transition duration-300">
                    <img src="/static/icons/tik-tok.png" alt="TikTok" class="w-full h-full object-contain">
                </a>
            </div>
        </div>

    </div> 
    
    <div class="container mx-auto text-center mt-12 pt-6 border-t border-gray-800">
        <p data-i18n="footer.copy" class="text-sm text-gray-500">&copy; 2025 CLEANSOUND Portal Berita. All rights reserved.</p>
    </div>
</footer>